:root {
    --pink: #ff3860;
    --blue: #0054fc;
    --grey: #ccc;
    --light-grey: #ccc;
    --black: #000;
    --white: #fff;
}

[data-theme="dark"] {
    --pink: #ff3860;
    --blue: #0054fc;
    --grey: #444;
    --light-grey: #444;
    --black: #fff;
    --white: #222;
}

body {
    background-color: var(--white);
}

header {
    display: flex;
    flex-wrap: wrap;
}

header h2 {
    position: relative;
    width: 50%;
    background-color: var(--white);
    float: left;
    text-align: justify;
    order: 1;
}

h3 {
    position: relative;
    float: left;
    width: 50%;
    color: var(--black);
    font-weight: 300;
    text-align: justify;
    order: 3;
    bottom: 120px;
}

header img {
    position: relative;
    width: 40%;
    height: auto;
    float: right;
    border-radius: 10%;
    margin: auto;
    order: 2;
    top: 50px;
}

#container {
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container div {
    flex-basis: 200px;
}

#container div p {
    padding: 0 20px;
}

.article {
    display: inline-block;
    width: 300px;
    height: 250px;
    border-radius: 30px;
    margin-bottom: 0px;
    margin-bottom: 25px;
    padding-top: 10px;
}

.article img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

a h2 {
    font-size: 1.5em;
    margin-top: 0;
}

a p {
    text-align: center;
    color: var(--black);

}

@media screen and (max-width: 1250px) {
    h3 {
        top: 2px;
    }
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }

    header img {
        display: none;
    }

    header h2 {
        width: 100%;
        font-size: 1.8em;
    }

    h3 {
        width: 100%;
    }
}

#container>div>a {
    border: solid #333;
    border-width: thin;
    display: block;
}

#container > div > a > img {
    display: block;
    margin: 15px auto;
}

#container>div>a:hover {
    border: solid var(--pink);
    border-width: thin;
}


/* PROGRESS SCROLL */
.progress-container {
    display: none;
}

