@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../font/open-sans/opensans-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../font/open-sans/opensans-bold.ttf') format('truetype');
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../font/open-sans/opensans-italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../font/open-sans/opensans-light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

:root{
    --pink: #ff3860;
    --blue: #0054fc;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #444;
}

/* TITRES */
h1, h2 {
    font-weight: 700;
    color: var(--pink);
}

h2 {
    font-weight: 300;
    text-align: center;
}

h3 {
    color: #000;
    text-align: center;
}

article:nth-child(odd) h3
{
    color: #FFF;
}

/* ÉLÉMENTS */
header, article, footer {
    margin: 0;
    padding: 10px 15%;
}

/* ARTICLE */
article:nth-child(odd)
{
    background-color: blue;
    color: #FFF;
}

