@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans/opensans-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans/opensans-bold.ttf') format('truetype');
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans/opensans-italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../font/open-sans/opensans-light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

:root{
    --pink: #ff3860;
    --blue: #0054fc;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1, h3 {
    font-weight: 700;
    color: var(--pink);
}
h2 {
    font-weight: 300;
}